@charset "UTF-8";

/*  Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
TV: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px){
/* ---- Versão para tablet ---- */
    body{
        background-image: linear-gradient(to top,  #6C3B37, #E3AAA6);
    }





    section#nova-senha{
        width: 80vw;
        height: 60vh;
        max-height: 330px;
        min-height: 330px;

        transition: width .3s, height .3s;
        transition-timing-function: ease;
    }
    section#nova-senha > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#nova-senha > div#formulario{
        float: right;
        width: 70%;
    }

}





@media screen and (min-width: 992px){
/* ---- Versão para desktop e telas grandes ---- */
    body{
        background-image: linear-gradient(to top,  #6C3B37, #E3AAA6);
    }





    section#nova-senha{
        width: 80vw;
        max-width: 992px;
        height: 60vh;
        max-height: 330px;
        min-height: 330px;
       
        transition: width .3s, height .3s;
        transition-timing-function: ease;
    }
    section#nova-senha > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#nova-senha > div#formulario{
        float: left;
        width: 50%;
    }
}